<%= @railway_station.title %>

<%= render "form", railway_station: @railway_station %>

<br>

<div>
  <%= link_to "Show this railway station", admin_railway_station_path(@railway_station) %>
  <%= link_to "Back to railway stations", admin_railway_stations_path %>
</div>
