<h1>Editing route</h1>

<%= render "form", route: @route, hidden: false, show_options: true %>

<br>

<div>
  <%= link_to "Show this route", [:admin, @route] %> |
  <%= link_to "Back to routes", admin_routes_path %>
</div>
