<h1>Editing train</h1>

<%= render "form", train: @train, hidden: false, show_options: true %>

<br>

<div>
  <%= link_to "Show this train", admin_train_path(@train) %> |
  <%= link_to "Back to trains", admin_trains_path %>
</div>
