<p>Привет, <%= @user.email %></p>
<p>Вы купили билет по маршруту <%= @ticket.route.name %></p>
<p>Посмотреть билет можно <%= link_to "здесь", @ticket %></p>
<p>Все ваши билеты: <%= link_to "тык", tickets_url %></p>